body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
    color: white;
}

button {
    cursor: pointer;
}

h2#title {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    height: 5%;
    background-color: rgb(58 91 105 / 95%);
    background-clip: padding-box;
    margin: 0;
    padding: 1% 0;
    /* For spacing */
    border-bottom: solid thick transparent;
}

h2#title > p {
    margin: 0;
}

article#main {
    width: 100%;
    height: min-content;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 1%;
    gap: 15px 5px;
}

.curriculum {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 30%;
    overflow: hidden auto;
    border: thin solid black;
}

.selector {
    border-bottom: thin solid black;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.remove {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    align-self: center;
    border-top: thin solid black;
}

.list-item {
    margin: 0;
    padding: 2px;
}

.list-item-link {
    color: inherit;
    text-decoration: none;
}

.shared-course {
    background-color: darkcyan;
}

.button {
    border: thin solid transparent;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 105%;
}

.button:hover {
    animation: btn-hover-anim 1s ease;
    border-image: linear-gradient(
        90deg, 
        rgba(0, 0, 0, 0) 0%,
        rgb(255, 255, 255) 50%,
        rgba(0, 0, 0, 0) 100%
    ) 0 0 1 0;
}

@keyframes btn-hover-anim {
    0% {
        border-image: linear-gradient(
            90deg, 
            rgba(0, 0, 0, 0) 50%,
            rgb(255, 255, 255) 50%,
            rgba(0, 0, 0, 0) 50%
        ) 0 0 1 0;
    }
    100% {
        border-image: linear-gradient(
            90deg, 
            rgba(0, 0, 0, 0) 0%,
            rgb(255, 255, 255) 50%,
            rgba(0, 0, 0, 0) 100%
        ) 0 0 1 0;
    }
}