body {
    height: 100vh;
    width: 100%;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    --calhoun-red: #890519;
    --bearcats-black: #333333;
    --main-street-mist: #e0dfe3;
    background-color: var(--bearcats-black);
    background: radial-gradient(circle at bottom, rgb(120 113 139) 0%, rgba(51, 51, 51, 1) 90%);
    color: var(--main-street-mist);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 1% 0;
}

button {
    background-color: unset;
    color: inherit;
    border: none;
    font-size: inherit;
}

button:hover {
    cursor: pointer;
}

#title-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 3%;
}

#title-bar > span:first-of-type,
.menu-label {
    user-select: none;
}

.program-selector {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
    border: thin solid transparent;
    padding: 15px 10px;
    margin-bottom: 15px;
}

.program-selector:hover {
    border-color: var(--calhoun-red);
}

.remove {
    position: absolute;
    right: 5px;
    display: none;
    color: var(--calhoun-red);
    border: black thin solid;
}

.remove:hover {
    background-color: var(--calhoun-red);
    color: var(--main-street-mist);
    border-color: var(--main-street-mist);
}

.program-selector:hover .remove {
    display: block;
}

button.clear-view {
    display: none;
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
}

#renderer, #canvas, #program-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}

#canvas {
    background-color: black;
    height: 100%;
    width: 100%;
}

#program-content {
    z-index: 5;
}

#renderer.active > #program-content {
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: auto;
}

#renderer.active + button.clear-view,
#renderer.active > #canvas,
#renderer.active {
    display: block;
}

.semester-container:not(:last-of-type) > .semester-info {
    border-right: var(--calhoun-red) thin solid;
}

.semester-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.semester {
    display: flex;
    flex-direction: column;
    padding: 2px;
    flex-grow: 1;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: var(--bearcats-black);
    padding: 5px;
    border: black solid thin;
}

.course:hover > .context-menu {
    display: block;
}

.course {
    display: block;
    border: var(--calhoun-red) solid thin;
    width: 50%;
    align-self: center;
    margin-bottom: 50px;
    margin-bottom: var(--course-vertical-spacing);
}

.course:hover {
    cursor: pointer;
}

.semester .course:first-of-type {
    margin-top: var(--course-vertical-spacing);
}

.prereq-shown {
    background-color: rgb(96, 128, 128);
}